ul.socialNetwork{
    list-style: none;
    padding: 0;
}

ul.socialNetwork li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 20pt;
    color: white;
    padding: 3px;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-instagram:hover{
    color: #c13584;
}

.fa-linkedin-square:hover{
    color: #0072b1;
}