<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga também nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="socialNetwork">
                    <li>
                        <a href="http://facebook.com" target="_blank" class="iconeFacebook"></a>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="http://instagram.com" target="_blank" class="iconeInstagram"></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="http://linkedin.com" target="_blank" class="iconeLinkedin"></a>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>
